/* NAVBAR */
.bg-darkblu{
    background-color: rgba(44, 62, 80, 1);
}

.navbar-collapse{
    flex-grow: 0;
}

/* PRIMA SEZIONE */
.bg-lightgreen{
    background-color: rgba(26, 188, 156, 1);
}

/* QUARTA SEZIONE  */
.contactme > span{
    display: block;
    text-align: left;
    border-bottom: 1px solid lightgray;
    width: 70%;
}

/* FOOTER */
.bg-footer{
    background-color: rgba(58, 84, 109, 1);
}